{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container p-5 my-5 bg-dark text-white " style="background-image: url('../static/images/gold1.jpg')">
        <div class="container p-5 my-5 bg-dark text-white " >
            <h1>About Me</h1>
            <h3>Hi i am Victoria.</h3>
            <h4>I am currently a student at eMobilis Technology Training Institute</h4>
            <p>I can provide clean code and an attractive template design,
                analyze and identify areas  in existing programs that need modification also code new websites and apps.
                I love the field of technology because it boosts progresses of various companies in their activities and helps them to perform tasks
                using less time.</p>
            <p>My favorite thing I love doing is art which helps me to implement it in the websites I create.
                Drawing is my hobby which I do in my leisure time.Since I was a kid I used to watch my dad repair devices which challenged me to learn more about fixing electronic devices.
                Furthermore I came to learn about software more deeper while I was in eMobilis where they teach us how to create application software from scratch.I really enjoy the lessons taught by our lecturer.
                Lastly my parents made me who I am today and am grateful to them,they always encourage me to keep on moving and to never give up.</p>
        </div>
    </div>
{% endblock %}